body{
	background-color: #612B12;
}

p{
	font-size: 20px;
}

ol{
	font-size: 20px;
}

ul{
	font-size: 20px;
}

.content {
	padding: 0 18px;
	background-color: tan;
	display: none;
	overflow: hidden;
}

.collapsible {
	background-color: beige;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 30px;
}

.active, .collapsible:hover {
	background-color: #C7C3B9;
}



